.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  width: 40px;
  height: 40px;
  background: #eee;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .1s;
  cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background-color: #fff;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

/* O :global está sendo usado para estilizar o link ativo da página */
.nav a:global(.active) {
  background-color: #FFF;
  box-shadow: 0 0 0 3px #fea;
  border-color: #FB1;
}

/* O :global está sendo usado para estilizar o link ativo da página, e o * para estilizar todos os filhos do svg */
.nav a:global(.active) svg>* {
  fill: #FB1;
}